<h1><%= @user.name %>のページ</h1>
<p>プロフィール画像: <%= image_tag @user.image.url %></p>
<h4>メールアドレス:<%= @user.email %></h4>

<td><%= link_to 'お気に入り', favorite_user_path(@user.id) %></td>
<td><%= link_to '編集', edit_user_path(@user.id) %></td>
