<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= link_to picture.user.name, user_path(picture.user.id)%></td>
        <td><%= image_tag picture.image.url %></td>
        <td><%= picture.content %></td>
        <td><%= link_to 'Show', picture_path(picture.id) %></td>
        <% if current_user.id == picture.id %>
        <td><%= link_to 'Edit', edit_picture_path(picture.id) %></td>
        <% end %>
        <td><%= link_to 'Destroy', picture_path(picture.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Picture', new_picture_path %>
